body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.city {
  font-family: "PT Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 5;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature strong {
  font-size: 48px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}
.weather-temperature {
  display: flex;
  justify-content: left;
  align-items: center;
}
.weather-temperature img {
  max-width: 100%;
  width: 70px;
}
